/* Main colors */
:root {
  --main-bg-color: #ffffff;
  --hero-bg-color-gradient: rgba(47, 48, 58, 0.4);
  --secondary-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
  --team-bg-color: #f5f4fa;
  --backdrop-bg: rgba(0, 0, 0, 0.2);

  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --accent-button: #188ce8;
  --link-auth-nav-footer: rgba(255, 255, 255, 0.6);
  --border-header-color: #ececec;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
  --icon-bg-footer: rgba(255, 255, 255, 0.1);

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}

body {
  margin: 0;

  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);
}

/* Header */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid var(--border-header-color);
}

.accent-logo {
  margin-right: 93px;

  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}

.logo-header {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;

  color: var(--title-text-color);
}

.site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site-nav__list {
  display: flex;
  align-items: center;
}

.site-nav__link:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--title-text-color);

  transition: color var(--duration) var(--timing-function);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  position: absolute;
  display: block;
  bottom: 0;

  content: "";

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
}

.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--text-color);

  transition: color var(--duration) var(--timing-function);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.icon-auth-nav {
  fill: currentColor;
  margin-right: 10px;
}

.icon-auth-nav:hover,
.icon-auth-nav:focus {
  fill: var(--accent-color);
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--secondary-bg-color);
  text-align: center;

  background-image: linear-gradient(
      var(--hero-bg-color-gradient),
      var(--hero-bg-color-gradient)
    ),
    url(../images/hero-bcg-img.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-bg-color);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;

  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-transform: none;

  color: var(--main-bg-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  transition: background-color var(--duration) var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--accent-button);
}

/* Benefits */
/* Hidden title */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits {
  display: flex;
}

.benefits > .item:not(:last-child) {
  margin-right: 30px;
}

.benefit-icon-thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;

  background-color: var(--team-bg-color);
  border-radius: 4px;
}

.benefits > .item {
  width: 270px;
}

.benefits .title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

/* what we are doing */

.section-work {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--title-text-color);
}

.list-images {
  display: flex;
  justify-content: space-between;
}

.works-overlay {
  position: relative;
}

.description-work {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;

  color: var(--main-bg-color);

  background: rgba(47, 48, 58, 0.8);
}

/* our team */

.section-team {
  background: var(--team-bg-color);
}

.list-team-cards {
  display: flex;
}

.card {
  background-color: var(--main-bg-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card:not(:last-child) {
  margin-right: 30px;
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--title-text-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: var(--icon-color);

  transition: fill var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  fill: var(--main-bg-color);
  background-color: var(--accent-color);
}

/* Regular customers */

.list-customers {
  display: flex;
}

.list-customers .item {
  width: 170px;
  height: 92px;
}

.list-customers .item:not(:last-child) {
  margin-right: 30px;
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  fill: var(--icon-color);

  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: fill var(--duration) var(--timing-function),
    border var(--duration) var(--timing-function);
}

.customer-link:hover,
.customer-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

/* Fotter */

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.section-footer > .container {
  display: flex;
  align-items: baseline;
}

.section-footer .accent-logo {
  display: block;

  margin-bottom: 20px;
  margin-right: 0;
}

.logo-footer {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19px;

  color: var(--main-bg-color);
}

.address .item:not(:last-child) {
  margin-bottom: 9px;
}

.link-address {
  text-decoration: none;
  color: var(--main-bg-color);
}

.link-auth-nav-footer {
  text-decoration: none;
  color: var(--link-auth-nav-footer);

  transition: color var(--duration) var(--timing-function);
}

.link-auth-nav-footer:hover,
.link-auth-nav-footer:focus {
  color: var(--accent-color);
}

.socials-footer {
  margin-left: 70px;
}

.title-socials-footer {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--main-bg-color);
}

.social-list-footer {
  display: flex;
  gap: 10px;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--icon-bg-footer);

  transition: background-color var(--duration) var(--timing-function);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--accent-color);
}

.social-icon-footer {
  fill: var(--main-bg-color);
}

/* Form call to action */
.form-cta {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  margin-left: 93px;
}

.cta {
  width: 358px;
}

.cta label {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--main-bg-color);
}

.cta input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-bg-color);

  background-color: var(--secondary-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.cta input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.icon-send {
  fill: currentColor;
  margin-left: 10px;
}

/* Portfolio */

.list-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-filters .item:not(:last-child) {
  margin-right: 8px;
}

.filter {
  border: none;
  padding: 6px 22px;

  background-color: var(--button-bg-color);
  border-radius: 4px;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  cursor: pointer;

  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.filter:hover,
.filter:focus {
  background-color: var(--accent-color);
  color: var(--main-bg-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter.active {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects */

.list-projects {
  display: flex;
  flex-wrap: wrap;
}

.list-projects .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.list-projects .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.list-projects .item {
  flex-basis: calc((100% - 60px) / 3);
}

.project-link {
  display: block;
  transition: box-shadow var(--duration) var(--timing-function);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .overlay-project,
.project-link:focus .overlay-project {
  transform: translateY(0);
}

.image-project {
  position: relative;
  overflow: hidden;
}

.overlay-project {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;

  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;

  color: var(--main-bg-color);

  transform: translateY(100%);

  transition: transform var(--duration) var(--timing-function);
}

.description-project {
  padding: 20px 24px;

  border: 1px solid var(--border-color);
}

.title-project {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.type-project {
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.9;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--backdrop-bg);

  opacity: 1;
  transition: opacity var(--duration) var(--timing-function),
    visibility var(--duration) var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  background: var(--main-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--duration) var(--timing-function);
}

.close:hover,
.close:focus {
  fill: var(--accent-color);
}

/* Form */

.form-modal {
  width: 448px;
}

.form-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;

  color: var(--title-text-color);
}

.form-field {
  margin-bottom: 10px;
}

.form-field-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--text-color);
}

.form-field-inner {
  position: relative;
}

.icon-modal {
  position: absolute;
  left: 15px;
  top: 11px;
  fill: var(--title-text-color);
  transition: fill var(--duration) var(--timing-function);
}

.form-field-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border var(--duration) var(--timing-function);
}

.form-field-input:focus {
  border: 1px solid var(--accent-color);
}

.form-field-inner:focus-within .icon-modal {
  fill: var(--accent-color);
}

.wrap-textarea {
  margin-bottom: 20px;
}

.textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.thumb-checkbox {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.form-checkbox {
  margin-bottom: 0;
  appearance: none;
}

.form-checkbox + label {
  margin-left: 9px;
}

.condition {
  line-height: 1.71;
  color: var(--accent-color);
  border-bottom: 0.5px solid var(--accent-color);
}

.form-checkbox::after {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  background-image: url(../images/border.svg);
}

.form-checkbox:checked::after {
  background-image: url(../images/icon-check.svg);
}
